html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  width: 100%;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

ol, ul {
  list-style: none; }

hr {
  border: 0;
  height: 1px;
  background: #ccc; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

html, input, select, textarea, button, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.flex {
  display: flex; }

.center-all {
  display: flex;
  justify-content: center;
  align-items: center; }

.center-align {
  align-items: center; }

.center-justify {
  justify-content: center; }

@keyframes pulse {
  50% {
    background: #D97D54; } }
.loading-pulse {
  position: relative;
  width: 1.3333333333vh;
  height: 8vh;
  background: rgba(217, 125, 84, 0.2);
  animation: pulse 750ms infinite;
  animation-delay: 250ms; }
  .loading-pulse:before, .loading-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 5.3333333333vh;
    width: 1.3333333333vh;
    background: rgba(217, 125, 84, 0.2);
    top: 50%;
    transform: translateY(-50%);
    animation: pulse 750ms infinite; }
  .loading-pulse:before {
    left: -2.6666666667vh; }
  .loading-pulse:after {
    left: 2.6666666667vh;
    animation-delay: 500ms; }

@keyframes loadingKey {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.loading-fade .dots {
  animation-name: loadingKey;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  animation-direction: normal; }

.dots {
  margin: 0 2px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -5px; }

.dot-1 {
  animation-delay: .48s; }

.dot-2 {
  animation-delay: .6s; }

.dot-3 {
  animation-delay: .72s; }

@media (max-width: 991px) {
  body {
    background: url("../assets/forest-evergreens-xs.jpg") bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover; } }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; }
  header .header-icon {
    fill: #FFF;
    max-width: 50px; }
  header h3 {
    color: #FFF;
    font-size: 1rem;
    letter-spacing: .05rem; }

.app-loader {
  flex-direction: column;
  text-align: center;
  height: 80vh; }
  .app-loader .body-text {
    color: #FFF;
    font-size: 1.5rem;
    margin-top: 150px; }
  .app-loader #title-bottom {
    font-size: 3rem; }

footer {
  height: 10vh; }

.bg-orange {
  background-color: #D97D54; }

.status-white {
  font-size: 1rem;
  font-variant: small-caps;
  color: #FFF; }

.bg-blue {
  background-color: #324755; }

/*# sourceMappingURL=shared.css.map */
