@import "reset.min";
@import "breakpoints";
@import "flexbox";
@import "colors";
@import "animations";

body{
  @media (max-width: $tablet-max) {
    background: url("../assets/forest-evergreens-xs.jpg") bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

//fullscreen stuff
.fullscreen-enabled{
  @media (max-width: $tablet-max) {
    background: url("../assets/forest-evergreens-xs.jpg") bottom no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

//main-header stuff
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 3vw 0 5vw;
  .header-icon{
    fill: $snow;
    max-width: 50px;
  }
  h3{
    color: $snow;
    font-size: 1rem;
    letter-spacing: .05rem;
  }
  .header-right{
    button{
      padding: 10px;
      border: 1px solid $snow;
    }
  }
}

//displays loader stuff (in <Body/>)
//splash screen
.app-loader{
  flex-direction: column;
  text-align: center;
  height: 80vh;
  .body-text{
    color: $snow;
    font-size: 1.5rem;
    margin-top: 150px;
  }
  #title-bottom{
    font-size: 3rem;
  }
}

footer{
  height: 10vh;
}

//displays load status stuff (in <Footer/>)
//splash screen
//orange theme
.bg-orange{
  background-color: $rust;
}

.status-white{
  font-size: 1rem;
  font-variant: small-caps;
  color: $snow;
}

.fill-white{
  fill: $snow;
}

//blue theme
.bg-blue{
  background-color: $drab;
}



